
<div style="padding:20px;width:100%" fxLayoutAlign="center center" fxLayout="column">
    <h1>Mes notifications</h1>
    <div class="notifications-wrapper">
      <div *ngIf="isAvailable; else loading">  
        <mat-divider></mat-divider>
        <div *ngIf="notifs.length == 0" fxLayoutAlign="center center"><p>Vous n'avez pas des notifications</p></div>
        <app-notif-item *ngFor="let notif of notifs; let i=index" [notif]="notif" (markAsRead)="notifMarkAsRead($event)" (delete)="notifDelete($event)"></app-notif-item>
        <mat-divider></mat-divider>
      </div>
      <div fxLayoutAlign="end end" style="width:100%">
        <button mat-raised-button color="primary" (click)="goBack()" style="margin:10px;">Retour</button>
      </div>
    </div>
    <ng-template #loading>
        <div fxLayout="column" fxLayoutAlign="center center" style="width:100%;height:100px;">
            <mat-spinner [diameter]="40"></mat-spinner>
        </div>
  </ng-template>   
</div>
<app-footer></app-footer>