@import "../../../styles.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);

small {
    padding-right:5px;
    padding-left:5px;
}
.date {
    min-width: 80px;
    max-width:150px;
}
.is-not-read {
    small {
        font-weight: bold;
        //text-overflow:  ellipsis;
        //-ms-text-overflow: ellipsis;
        //-o-text-overflow: ellipsis;
        //white-space: nowrap;
        //overflow: hidden;        
    }
}
.container {
    min-height: 40px;
    padding-top:5px;
    padding-bottom:5px;
    margin:2px;
    opacity:0.8;
    mat-icon {
        transform:scale(0.8);
    }
}
.container:hover {
    cursor:pointer;
}

//For devices suporting hover
@media (hover: hover) {
    .container:hover {
        background-color:mat-color($primary,50);
        opacity: 1;
    }
}