<div [style.backgroundImage]="'url(./assets/img/background.jpg)'" class="background-image" fxLayoutAlign="center center">
  <h1>Détails du materiel</h1>
</div>  
<div *ngIf="!loading; else loadingTemplate" style="width:100%" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" style="padding-right:10vw;padding-left:10vw;padding:10px;width:100%;max-width:500px;">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="1 1 auto">
        <div fxLayoutAlign="end start" mat-card-avatar [style.backgroundImage]="product.image" style="background-size:cover;width:70px;height:70px;border-radius:3px" class="image">
            <div class="available" [ngClass]="{'not-available' : !product.isAvailable()}"></div>
        </div>
      </div>
      <div fxFlex="1 1 auto" fxLayout="column">
        <div>{{product.type}}</div>        
        <div>{{product.cathegory}}</div>
        <div style="font-size:smaller">{{product.brand}}</div>
      </div>
      <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center">
          <a mat-mini-fab color="white" href={{product.docLink}}><mat-icon matTooltip="documentation">attach_file</mat-icon></a>
        </div>
    </div>
    <div *ngIf="!product.isAvailable()">
      <p style="margin-bottom:5px">Actuellement utilizé par: </p>
      <app-member-item [member]="product.assignedTo" [style]="'small'"></app-member-item>
    </div>
    <div fxLayout="column" style="padding-top:10px;padding-bottom:10px">
      <small class="detail-title">Identifiant GMA:</small>
      <small class="detail-value">{{product.idGMA}}</small>                    
      <small class="detail-title">Numero serie:</small>
      <small class="detail-value">{{product.serialNumber}}</small>
      <small class="detail-title">Marque:</small>
      <small class="detail-value">{{product.brand}}</small>      
      <small class="detail-title">Fabriqué :</small>
      <small class="detail-value">{{product.fabricatedOn | niceDateFormat}}</small>
      <small class="detail-title">Date d'achat :</small>
      <small class="detail-value">{{product.boughtOn | niceDateFormat}}</small>
      <small class="detail-title">Date de rebut :</small>
      <small class="detail-value">{{product.expiresOn | niceDateFormat}}</small>
      <p class="detail-title" style="width:100%">CONTROLS</p>
      <p class="detail-title">COMMENTAIRES</p>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
    <div fxLayout="column" fxLayoutAlign="center center" class="container">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
</ng-template>   
<app-footer></app-footer>
                  <!--<p style="font-weight:bold">DÉTAILS</p>
                  <div fxLayout="column" style="min-width:200px;max-width:350px">
                    <small class="detail-title">Identifiant GMA:</small>
                    <small class="detail-value">{{element.idGMA}}</small>                    
                    <small class="detail-title">Numero serie:</small>
                    <small class="detail-value">{{element.serialNumber}}</small>
                    <small class="detail-title">Fabriqué :</small>
                    <small class="detail-value">{{element.fabricatedOn | niceDateFormat}}</small>
                    <small class="detail-title">Date d'achat :</small>
                    <small class="detail-value">{{element.boughtOn | niceDateFormat}}</small>
                    <small class="detail-title">Date de rebut :</small>
                    <small class="detail-value">{{element.expiresOn | niceDateFormat}}</small>
                  </div>-->

<!--
id: number;
type: string;   
brand: string;   
description: string;
usage: string;
serialNumber: string;
idGMA: string;
fabricatedOn : string;
boughtOn:   string;
expiresOn:  string;
controls : string[] = null;
docLink: string = null;
comments: string[] = null;
isAvailable: false;-->