
<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
  <div>
    <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-left:10px;margin-bottom:20px">
        <div mat-card-avatar [style.backgroundImage]="member.avatar" style="background-size:cover;width:40px;height:40px;border-radius:50%"></div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="font-weight:bold;font-size:18px">
            <div style="margin-right:5px">{{member.lastName}}</div> 
            <div>{{member.firstName}}</div>
        </div>
    </div>

      <div  fxLayout="column" fxLayoutAlign="center start" style="padding:10px">
        <p class="detail">EMAIL:</p>
        <p class="box">{{member.email}}</p>
        <p class="detail">MOBILE:</p>
        <p class="box">{{member.mobile}}</p>
        <p class="detail">CRÉATION:</p>
        <p class="box">{{member.created_at | niceDateFormat}}</p>
      </div>

    <mat-card-subtitle style="margin-top:20px;margin-bottom:5px">Comptes</mat-card-subtitle>
    <mat-divider></mat-divider>
    <div  fxLayout="column" fxLayoutGap="10px" style="padding:10px">
        <mat-slide-toggle color="primary" [checked]="hasAccount('Membre')" [disabled]="loading" (change)="_toggleMember($event)"><p>Compte membre</p></mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="hasAccount('Admin')" [disabled]="loading" (change)="_toggleAdmin($event)"><p>Compte admin</p></mat-slide-toggle>
    </div>
    <mat-card-subtitle style="margin-top:20px;margin-bottom:5px">Roles</mat-card-subtitle>
    <mat-divider></mat-divider>
    <div  fxLayout="row wrap">
        <mat-chip-list style="padding:10px">
          <ng-container *ngFor="let role of roles">
            <mat-chip [ngClass]="{'loading' : loading}" selected [color]="primary" *ngIf="hasRole(role.id)" (click)="_removeRole(role.id)">{{role.name}}<mat-icon>delete</mat-icon></mat-chip>
            <mat-chip [ngClass]="{'loading' : loading}" *ngIf="!hasRole(role.id)" (click)="_addRole(role.id)">{{role.name}}<mat-icon>library_add</mat-icon></mat-chip>
          </ng-container>
        </mat-chip-list>  
    </div>
    <mat-card-subtitle style="margin-top:20px;margin-bottom:5px">Groups</mat-card-subtitle>
    <mat-divider></mat-divider>
    <div  fxLayout="row wrap">
        <mat-chip-list style="padding:10px">
          <ng-container *ngFor="let group of groups">
            <mat-chip [ngClass]="{'loading' : loading}" selected [color]="primary" *ngIf="hasGroup(group.id)" (click)="_removeGroup(group.id)">{{group.name}}<mat-icon>delete</mat-icon></mat-chip>
            <mat-chip [ngClass]="{'loading' : loading}" *ngIf="!hasGroup(group.id)" (click)="_addGroup(group.id)">{{group.name}}<mat-icon>library_add</mat-icon></mat-chip>
          </ng-container>
        </mat-chip-list>  
    </div>  
  </div>     
</div>  