@import "../../../styles.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);
//Theme on admin
$primaryAdmin: map-get($admin-theme,primary);
$accentAdmin: map-get($admin-theme,accent);



.container {
    padding:5px;
    padding-top:20px;
    width:180px;
    height:220px;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.3);
    color:rgba(0, 0, 0, 0.6) 
}


.detail-title {
    width:100%;
    //font-size: 12px;
    opacity: 0.8;
    border-bottom: 1px solid;
    margin-bottom:3px;
    font-weight: bold;
  }
  .detail-value {
    width:100%;
    margin-bottom:5px;
  }

  small {
    font-size:11px;
  }

.is-president {
    color: mat-color($accent);
    font-weight: bold;
}

//Small format part
.small-container {
    padding:5px;
}
.small-container:hover {
    background: mat-color($primary,50);
    cursor:pointer;
}
.small-container:active {
    background: mat-color($primary,100);;
}

//Theme on admin
:host-context(.admin-theme) {
    .small-container:hover {
        background: mat-color($primaryAdmin,900);
        cursor:pointer;
    }
    .small-container:active {
        background: mat-color($primaryAdmin,100);;
    }
}



.small-container-expansion {
    padding:5px;
    visibility: hidden;
}

.show {
    visibility: visible;
}