@import "../../../styles.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);


.container {
    padding:5px;
    padding-top:20px;
    width:150px;
    height:200px;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.3);
    color:rgba(0, 0, 0, 0.6) 
}

.icon {
    padding:5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}


mat-icon {
    opacity: 0.6;
}

.is-president {
    color: mat-color($accent);
    font-weight: bold;
}




/*

.size-small {
    width:30px;
    height:30px;
    min-width:30px;
    max-width:30px;
    min-height:30px;
    max-height:30px;
}

.size-medium {
    width:40px;
    height:40px;
    min-width:40px;
    max-width:40px;
    min-height:40px;
    max-height:40px;    
}
*/
