<div *ngIf="isNormal">
  <div *ngIf="member.isAvailable(); else loading">  
    <div fxLayout="column" class="container">
        <div fxFlex="2 2 auto" fxLayoutAlign="center center" fxLayout="column">
            <div mat-card-avatar [style.backgroundImage]="member.avatar" style="background-size:cover;width:60px;height:60px;border-radius:50%"></div>
            <div fxLayout="column" fxLayoutAlign="center center" style="height:90px;">
            <div style="margin-bottom:5px;font-weight:bold;font-size:14px"><div fxLayout="row wrap" fxLayoutAlign="center center"><div style="margin-right:5px">{{member.firstName}}</div> <div>{{member.lastName}}</div></div></div>
            <small [ngClass]="{'is-president' : member.isPresident()}">{{member.getFormattedRoles()}}</small>
            </div>
        </div>  
        <div *ngIf="member.email != undefined" fxFlex="1 1 auto" style="height:70px">
            <div *ngIf="isMobile" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <a href="mailto:{{member.email}}" mat-mini-fab color="white"><mat-icon aria-label="Message">email</mat-icon></a>   
                    <a href="tel:{{member.mobile}}" mat-mini-fab color="white"><mat-icon aria-label="Call">phone</mat-icon></a>                     
            </div>
            <div *ngIf="!isMobile" fxLayout="column" fxLayoutAlign="start center">
                    <small class="detail-title">EMAIL:</small>
                    <small class="detail-value">{{member.email}}</small>                    
                    <small class="detail-title">MOBILE:</small>
                    <small class="detail-value">{{member.mobile}}</small>                
            </div>     
        </div>
    </div>
  </div>
  <ng-template #loading>
        <div fxLayout="column" fxLayoutAlign="center center" class="container">
            <mat-spinner [diameter]="40"></mat-spinner>
        </div>
  </ng-template> 
</div>  
<div *ngIf="isSmall">
    <div  class="small-container" (click)="toggleExpansion()">
        <div *ngIf="!showExpansion" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="padding:5px">
            <div fxLayoutAlign="end start" mat-card-avatar [style.backgroundImage]="member.avatar" style="background-size:cover;width:30px;height:30px;border-radius:50%"></div>
            <div style="font-weight:bold">{{member.firstName}} {{member.lastName}}</div>
        </div>
        <div *ngIf="showExpansion">
            <div *ngIf="!isMobile" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px" class="small-container-expansion" [ngClass]="{'show' : showExpansion}">
                <div style="font-size:11px">Email : {{member.email}}</div>
                <div style="font-size:11px">Mobile: {{member.mobile}}</div>
            </div>
            <div *ngIf="isMobile" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="small-container-expansion" [ngClass]="{'show' : showExpansion}">
                <a href="mailto:{{member.email}}" mat-mini-fab color="white"><mat-icon aria-label="Message">email</mat-icon></a>   
                <a href="tel:{{member.mobile}}" mat-mini-fab color="white"><mat-icon aria-label="Call">phone</mat-icon></a>                     
            </div>  
        </div>

    </div>    
  
</div>

