@import "../../../styles.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);


.scaled {
    transform:scale(0.8);
}

mat-icon {
    opacity: 0.6;
}

.is-president {
    color: mat-color($accent);
    font-weight: bold;
}






.size-small {
    width:30px;
    height:30px;
    min-width:30px;
    max-width:30px;
    min-height:30px;
    max-height:30px;
}

.size-medium {
    width:40px;
    height:40px;
    min-width:40px;
    max-width:40px;
    min-height:40px;
    max-height:40px;    
}

.button-special {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);

    border:1px solid;
    border-radius:50%;
    padding:0px;
    width:30px !important;
}
.button-special:hover {
    cursor:pointer;
    border:1px solid mat-color($primary);
    color: mat-color($primary);    
    box-shadow: 2px 2px 5px mat-color($primary);
}