@import "../../../styles.scss"; //Import general themeing

$primary: map-get($admin-theme,primary);
$accent: map-get($admin-theme,accent);

/*.users-list {
    background-color: rgba(175, 175, 175, 0.8);
    padding-top:0px;
    overflow-y:auto;
    overflow-x: auto;
    min-width: 360px;
    height: 300px;
}*/

.title {
    height:20px;
    background-color: mat-color($primary);
    font-weight: bold;
}

//Table formatting
.table-container {
    min-height:300px;
  }

  th,td {
    min-width:60px;
  }
  
  table {
    width: 100%;
  }

  tr.element-row:not(.expanded-row):hover {
    background: mat-color($primary,700);
    cursor:pointer;
  }
  tr.element-row:not(.expanded-row):active {
    background: mat-color($primary,100);;
  }

  tr.detail-row {
    height: 0;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }
  .total {
    font-size: 13px;
    opacity:0.6;
    margin-top:2px;
    margin-bottom:2px;
    span {
        font-weight: bold;
    }
  }