<div style="padding:20px" class="admin-theme">
  <h1>Gestion d'utilizateurs</h1>
  <mat-divider></mat-divider>
  <div fxLayoutAlign="center center">
    <div style="min-width:300px;max-width:600px">
      <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Selection</mat-panel-title>
                <mat-panel-description *ngIf="!(userSelected.id>0)">Pas de selection</mat-panel-description>
                <mat-panel-description *ngIf="userSelected.id>0">{{userSelected.lastName}} {{userSelected.firstName}}</mat-panel-description>
              </mat-expansion-panel-header>   
              <app-member-item-detail-admin *ngIf="userSelected.id>0" [loading]="loading" [member]="userSelected" [roles]="roles" [accounts]="accounts" [groups]="groups" (action)="actionHandler($event)"></app-member-item-detail-admin>
            </mat-expansion-panel>
      </mat-accordion>  
      <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
      <div fxLayout="row" fxLayoutAlign="center center" class="title">
          <div fxFlex="25%" fxLayoutAlign="center center"><small>NOM</small></div>
          <div fxFlex="20%" fxLayoutAlign="center center"><small>ROLES</small></div>
          <div fxFlex="20%" fxLayoutAlign="center center"><small>COMPTES</small></div>
          <div fxFlex="35%" fxLayoutAlign="center center"><small>GROUPS</small></div>
      </div>
      <div class="users-list">
        <app-member-item-admin *ngFor="let user of users" [member]="user" (selected)="updateSelected($event)"></app-member-item-admin>
      </div>
      <p>Total d'utilizateurs <span style="font-weight:bold">({{users.length}})</span></p>
    </div>
  </div>
</div>


