@import "../../../styles.scss"; //Import general themeing

$primary: map-get($admin-theme,primary);
$accent: map-get($admin-theme,accent);

.users-list {
    background-color: rgba(175, 175, 175, 0.8);
    padding-top:0px;
    overflow-y:auto;
    height: 300px;
    min-width:280px;
}

.title {
    height:20px;
    background-color: mat-color($primary);
    font-weight: bold;
}