<div [style.backgroundImage]="'url(./assets/img/background.jpg)'" style="background-size:cover;padding-top:20px;padding-bottom:20px" fxLayoutAlign="center center" fxLayout="column">
  <div *ngIf="(user$ | async) as user" fxLayout="column" style="width:90%;max-width:588px;min-width:250px;">
  <mat-card stype="padding:0px;">
    <p class="header">Présidence</p>
    <mat-divider></mat-divider> 
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="5px" class="canvas">
        <app-member-item *ngFor="let member of boards" [member]="member" [activeRole]="3"></app-member-item>
      </div>  
    <p class="header">Bureau</p>
    <mat-divider></mat-divider> 
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="5px" class="canvas">
        <app-member-item *ngFor="let member of bureaus" [member]="member" [activeRole]="2"></app-member-item>
      </div>
    <ng-container *ngIf="(user.access == 'Membre') || (user.access == 'Admin')">
      <p  class="header" style="margin-top:40px">Membres <span style="font-weight:bold">({{memberCount}})</span></p>
      <mat-divider></mat-divider> 
        <button mat-stroked-button color="primary" (click)="loadAllMembers()" style="margin:10px;">Voir tous</button>
        <div *ngIf="!membersRequested; else loading" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="canvas">
            <app-member-item *ngFor="let member of members" [member]="member" [activeRole]="1"></app-member-item>
        </div>
        <ng-template #loading>
            <div fxLayout="column" fxLayoutAlign="center center" style="padding:5px;padding-top:20px;width:100%;height:232px;border-radius:5px;border:1px solid rgba(0, 0, 0, 0.3);color:rgba(0, 0, 0, 0.6)">
                <mat-spinner [diameter]="40"></mat-spinner>
            </div>
        </ng-template>
    </ng-container>
  </mat-card>
</div>
</div>


<app-footer></app-footer>