@import "../../../styles.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);


.primary-color {
    color: mat-color($primary);
}

.canvas {
    width:100%;
    overflow-x:auto;
    padding-top:10px;
    padding-bottom:5px;    
}

.header {
    margin-bottom:5px;
}