.navbar-wide-button {
  height:40px !important;
}
.scaled {
  transform: scale(0.9);
}

.menu-notifications {
  min-width:300px !important;
  max-width:300px !important;
  width:300px !important;
  mat-icon {
    opacity:0.6;
  }
}
.notifications-wrapper {
  min-height:50px;
  max-height:300px;
  overflow-y:auto;
}