
<!--<div *ngIf="(isConfigDone$ | async); else loading">-->
<div *ngIf="(user$ | async) as user">
  <div fxLayout="column" class="navbar-theme">
      <mat-toolbar>
          <button mat-icon-button (click)="snav.toggle()">
              <mat-icon aria-label="menu">menu</mat-icon>
          </button>
          <div *ngIf="!isMobile">
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute == '/'" color="primary" routerLink="" style="height:100%">Home</button>
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute != '/'" color="secondary" routerLink="" style="height:100%">Home</button>
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute == '/about'" color="primary" routerLink="/about"  style="height:100%">About</button>
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute != '/about'" color="secondary" routerLink="/about"  style="height:100%">About</button>
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute == '/members'" color="primary" routerLink="/members"  style="height:100%">Membres</button>
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute != '/members'" color="secondary" routerLink="/members"  style="height:100%">Membres</button>
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute == '/materiel'" color="primary" routerLink="/materiel"  style="height:100%">Location Matériel</button>
              <button fxFlex="1 1 auto" mat-button *ngIf="selectedRoute != '/materiel'" color="secondary" routerLink="/materiel"  style="height:100%">Location Matériel</button>      
          </div>  

          <div *ngIf="isMobile" fxLayoutAlign="center center" style="margin-left:20px">
            <div fxLayoutAlign="center center"><img src="./assets/img/logo.jpg" alt="brand" style="height:35px;border-radius:15%"></div>
            <div fxLayoutAlign="center center" style="margin-left:10px"><span style="font-weight:bold;font-size:30px">GMA500</span></div>
          </div>
          <div fxFlex="1 1 auto" fxLayoutAlign="end center">
              <div *ngIf="user.isAvailable()" fxLayout="row" fxLayoutGap="20px">
                <button  mat-mini-fab color="warn" class="scaled">
                  <div *ngIf="user.notifsUnreadCount>0">
                    <mat-icon [matBadge]="user.notifsUnreadCount" matBadgeColor="accent" aria-label="Notifications" routerLink='/notifications' >notifications</mat-icon>
                  </div>
                  <div *ngIf="user.notifsUnreadCount==0">
                      <mat-icon  aria-label="Notifications"  routerLink='/notifications'>notifications_none</mat-icon>
                  </div>
                </button>  
                <div  fxLayout="column" fxLayoutAlign="center center">
                  <button mat-mini-fab [style.backgroundImage]="user.getAvatar(4)" style="background-size:cover;" routerLink='/profile' class="scaled"></button>           
                  <small style="font-size:10px;line-height:10px">{{user.access}}</small>
                </div>
              </div>  
              <div *ngIf="!user.isAvailable()" fxLayout="column" fxLayoutAlign="center center">
                <button  mat-mini-fab color="warn" routerLink='/login' class="scaled">
                  <mat-icon matBadge="x" matBadgeColor="accent" aria-label="Déconnecté">person</mat-icon>
                </button> 
                <small style="font-size:10px;line-height:10px">Deconnecte</small>
              </div>
          </div>
      </mat-toolbar>  
      <div *ngIf="!isMobile" fxFlex="1 1 auto">
          <img src="./assets/img/banniereGMA500.jpg" alt="banniere" style="width:100%;object-fit: scale-down">
      </div>
    </div>
    <div class="main-theme">
      <mat-sidenav-container class="main-sidenav-container">
          <mat-sidenav #snav>
            <mat-nav-list>
                  <div *ngIf="!user.isAvailable()"> 
                      <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-raised-button color="primary" routerLink="/login" (click)="snav.toggle()">Login</button></div>
                      <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary" routerLink="/signup" (click)="snav.toggle()">Signup</button></div>
                  </div>  
                  <div *ngIf="user.isAvailable()"> 
                      <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary"  (click)="snav.toggle();logout()">Logout</button></div>
                   </div>               
              <mat-divider></mat-divider>
              <a (click)="snav.toggle()" mat-list-item routerLink=""><span>Accueil</span></a>       
              <a (click)="snav.toggle()" mat-list-item routerLink="about"><span>A propos</span></a>
              <a (click)="snav.toggle()" mat-list-item routerLink="members"><span>Membres</span></a>
              <a (click)="snav.toggle()" mat-list-item routerLink="materiel"><span>Location Matériel</span></a>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Admin</mat-panel-title>
                    </mat-expansion-panel-header>   
                    <a (click)="snav.toggle()" mat-list-item routerLink="admin-members"><span>Admin members</span></a>
                    <a (click)="snav.toggle()" mat-list-item routerLink="admin-roles"><span>Admin roles</span></a>
                    <a (click)="snav.toggle()" mat-list-item routerLink="admin-groups"><span>Admin groups</span></a>    
                    <a (click)="snav.toggle()" mat-list-item routerLink="admin-products"><span>Admin Materiel</span></a>  
                 </mat-expansion-panel>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
              <main [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
                  <router-outlet #o="outlet"></router-outlet>               
              </main>
 
          </mat-sidenav-content>
      </mat-sidenav-container>  
  </div>
</div>

<!--</div>
<ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center" style="width:100vw;height:100vh">
      <img src="./assets/img/logo.jpg" alt="brand" style="height:150px;border-radius:15%">
      <p style="opacity:0.4">Chargement...</p>
    </div>
</ng-template>-->

   
