<div class="navbar-theme">
  <!--Wide screens-->
  <div fxHide.xs>
    <mat-toolbar>
      <button class="navbar-wide-button" fxFlex="1 1 auto" mat-raised-button *ngIf="selectedRoute == '/'" color="primary" routerLink="" style="height:100%">Home</button>
      <button class="navbar-wide-button" fxFlex="1 1 auto" mat-button *ngIf="selectedRoute != '/'" color="secondary" routerLink="" style="height:100%">Home</button>
      <button class="navbar-wide-button" fxFlex="1 1 auto" mat-raised-button *ngIf="selectedRoute == '/about'" color="primary" routerLink="/about"  style="height:100%">About</button>
      <button class="navbar-wide-button" fxFlex="1 1 auto" mat-button *ngIf="selectedRoute != '/about'" color="secondary" routerLink="/about"  style="height:100%">About</button>
      <button class="navbar-wide-button" fxFlex="1 1 auto" mat-raised-button *ngIf="selectedRoute == '/login'" color="primary" routerLink="/login"  style="height:100%">Login</button>
      <button class="navbar-wide-button" fxFlex="1 1 auto" mat-button *ngIf="selectedRoute != '/login'" color="secondary" routerLink="/login"  style="height:100%">Login</button>
    </mat-toolbar>
    <div fxLayout="row">    
       <div fxFlex="1 1 auto">
          <img src="./assets/img/banniereGMA500.jpg" alt="banniere" style="width:100%;object-fit: scale-down">
       </div>
    </div>
  </div>
  <!--Small screens-->
  <div  fxShow="false" fxShow.xs="true">
    <mat-toolbar>
      <button mat-icon-button (click)="snav.toggle()">
          <mat-icon aria-label="menu">menu</mat-icon>
      </button>
      <div fxLayoutAlign="center center" style="margin-left:20px">
        <div fxLayoutAlign="center center"><img src="./assets/img/logo.jpg" alt="brand" style="height:35px;border-radius:15%"></div>
        <div fxLayoutAlign="center center" style="margin-left:10px"><span style="font-weight:bold;font-size:40px">GMA500</span></div>
      </div>
    </mat-toolbar>
  </div>
</div>
  <mat-sidenav-container class="main-sidenav-container">
      <mat-sidenav #snav>
        <mat-nav-list>
          <!--Short access-->
          <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-raised-button color="primary" routerLink="/login" (click)="snav.toggle()">Login</button></div>
          <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary" routerLink="/signup" (click)="snav.toggle()">Signup</button></div>
          <mat-divider></mat-divider>
          <!--Menu-->
          <a (click)="snav.toggle()" mat-list-item routerLink=""><span>Accueil</span></a>       
          <a (click)="snav.toggle()" mat-list-item routerLink="about"><span>A propos</span></a>
          <a (click)="snav.toggle()" mat-list-item routerLink="login"><span>login</span></a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <main [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
   
