<div class="footer-theme" style="margin-top:0px;">
    <div  fxLayout="row"  fxLayoutAlign="center stretch" fxLayoutGap="10%">



        <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="stretch center" style="min-width:100px">
            <h3 style="margin-bottom:5px">SUIVEZ-NOUS</h3>
            <button  mat-mini-fab (click)="redirectToFacebook()" [style.backgroundImage]="'url(./assets/img/facebook.jpg)'" style="background-size:cover;"></button>
            <span>Facebook</span> 
          </div>

        <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="stretch center" style="min-width:100px">
            <h3 style="margin-bottom:5px">CONTACT</h3>
            <button  mat-mini-fab (click)="redirectToContact()" [style.backgroundImage]="'url(./assets/img/email.jpg)'" style="background-size:cover;"></button>
            <span>Ecrivez-nous</span> 
            <div fxLayout="column" fxLayoutAlign="center start" style="margin-top:10px;">
              <small>{{address1}}</small>
              <small>{{address2}}</small>
              <small>{{address3}}</small>
            </div>
        </div>
    
      </div>
      <div style="width:50%;margin:20px">
    
    </div>
    </div>