
<div *ngIf="short">
  <div *ngIf="member$ | async as member ; else loading">  
    <div fxLayout="column" style="padding:5px;padding-top:20px;width:130px;height:170px;border-radius:5px;border:1px solid rgba(0, 0, 0, 0.3);color:rgba(0, 0, 0, 0.6)">
        <div fxFlex="2 2 auto" fxLayoutAlign="center center" fxLayout="column">
            <div mat-card-avatar [style.backgroundImage]="member.avatar" style="background-size:cover;width:50px;height:50px;border-radius:50%"></div>
            <div fxLayout="column" fxLayoutAlign="center center" style="height:90px;">
            <div style="margin-bottom:5px;font-weight:bold;font-size:14px"><div fxLayout="row wrap" fxLayoutAlign="center center"><div style="margin-right:5px">{{member.firstName}}</div> <div>{{member.lastName}}</div></div></div>
            <small [ngClass]="{'is-president' : memberIsPresident === true && activeRole === 'Président'}">{{activeRole}}</small>
            </div>
        </div>  
        <div *ngIf="user.isLoggedIn" fxFlex="1 1 auto" style="height:60px">
            <div *ngIf="isMobile" fxLayoutAlign="space-around center">
                <a class="button-special size-small" fxLayoutAlign="center center" [href]="memberEmail"><mat-icon>email</mat-icon></a>
                <a class="button-special size-small" fxLayoutAlign="center center" [href]="memberPhone"><mat-icon>phone</mat-icon></a>
                <div class="button-special size-small" fxLayoutAlign="center center" (click)="openProfileDialog()"><mat-icon>more_horiz</mat-icon></div>
            </div>
            <div *ngIf="!isMobile" fxLayoutAlign="space-around center" fxLayout="column">
                <div class="button-special size-medium" fxlayout="column" fxLayoutAlign="center center" (click)="openProfileDialog()"><mat-icon>more_horiz</mat-icon></div>
            </div>     
        </div>
    </div>
  </div>
  <ng-template #loading>
        <div fxLayout="column" fxLayoutAlign="center center" style="padding:5px;padding-top:20px;width:130px;height:170px;border-radius:5px;border:1px solid rgba(0, 0, 0, 0.3);color:rgba(0, 0, 0, 0.6)">
            <mat-spinner [diameter]="40"></mat-spinner>
        </div>
  </ng-template>   
</div>
<div *ngIf="!short">
    <div fxLayout="column" style="padding:5px;padding-top:20px;width:240px">
        <div fxFlex="2 2 auto" fxLayoutAlign="center center" fxLayout="column">
          <div mat-card-avatar [style.backgroundImage]="member.avatar" style="background-size:cover;width:80px;height:80px;border-radius:50%"></div>
          <div fxLayout="column" fxLayoutAlign="center center" style="height:90px;">
            <div style="margin-bottom:5px;font-weight:bold;font-size:18px"><span>{{member.firstName}} {{member.lastName}}</span></div>
            <p style="margin-top:5px">{{activeRole}}</p>
          </div>
        </div>  
        <div *ngIf="user.isLoggedIn" fxFlex="1 1 auto">
            <div style="padding:10px;" fxLayoutAlign="start center">
                <img src="./assets/img/email.jpg" alt="email-icon" style="width:25px;height:25px;border-radius:15%;margin-right:10px;">
                <div  style="font-size:13px">{{member.email}}</div>
            </div>  
            <div style="padding:10px;padding-top:0px" fxLayoutAlign="start center">
                <img src="./assets/img/phone.jpg" alt="phone-icon" style="width:25px;height:25px;border-radius:15%;margin-right:10px;">
                <div style="font-size:13px">{{member.mobile}}</div>
            </div>        
        </div>        
        <div *ngIf="user.isLoggedIn" fxFlex="1 1 auto">
          <div *ngIf="isMobile" fxLayoutAlign="center center" style="padding:10px">
              <div fxLayoutAlign="space-around center" style="max-width:130px;min-width: 130px;height:60px">
                <a class="button-special size-medium" fxLayoutAlign="center center" [href]="memberEmail"><mat-icon>email</mat-icon></a>
                <a class="button-special size-medium" fxLayoutAlign="center center" [href]="memberPhone"><mat-icon>phone</mat-icon></a>
              </div>
          </div>   
        </div>
        <div *ngIf="user.isLoggedIn" style="padding:10px;padding-top:20px">
          <mat-chip-list [selectable]="false" >
              <mat-chip  *ngFor="let chip of user.groups">{{chip}}</mat-chip>
          </mat-chip-list>  
        </div>  

    </div>
</div>