<div [style.backgroundImage]="'url(./assets/img/background.jpg)'" class="background-image" fxLayoutAlign="center center">
  <h1>Location Materiel</h1>
</div>  
<div class="container">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
  
    <div *ngIf="!loading" class="table-container">
      <mat-form-field style="padding-top:10px;padding-left:20px">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Chercher">
      </mat-form-field>  
      <div style="width:100%" fxLayoutAlign="end end" style="padding-right:20px">
        <p style="font-weight:bold;margin-top:5px;margin-bottom:5px">TOTAL : {{productsCount}}</p> 
      </div>   
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table">
        <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let row">{{row.idGMA}}</td>
        </ng-container> 

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Photo</th>
            <td mat-cell *matCellDef="let row">
                <div fxLayoutAlign="end start" mat-card-avatar [style.backgroundImage]="row.image" style="background-size:cover;width:50px;height:50px;border-radius:3px;opacity:0.8" class="image">
                  <div class="available" [ngClass]="{'not-available' : !row.isAvailable()}"></div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container> 

        <ng-container matColumnDef="cathegory">
            <th mat-header-cell *matHeaderCellDef>Cathégorie</th>
            <td mat-cell *matCellDef="let row">{{row.cathegory}}</td>
        </ng-container>   

        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef>Marque</th>
            <td mat-cell *matCellDef="let row">{{row.brand}}</td>
        </ng-container>  


        <ng-container matColumnDef="usage">
            <th mat-header-cell *matHeaderCellDef>Usage</th>
            <td mat-cell *matCellDef="let row">{{row.usage}}</td>
          </ng-container>  
      
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div style="padding:10px;width:100%"> 
                  <p style="font-weight:bold">DESCRIPTION</p>
                  <div class="example-element-symbol"> {{element.description}} </div>
                  <div style="margin:5px"><a href={{element.docLink}}><mat-icon matTooltip="documentation">attach_file</mat-icon>Documentation</a></div>
                  <div *ngIf="user.hasAccess('Membre') || user.hasAccess('Admin')" fxLayoutAlign="center center" width="100%"><button color="primary" mat-raised-button routerLink="/materiel-details/{{element.id}}">Voir</button></div>
                </div>
              </div>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = element">        
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </div>
  </div>

<app-footer></app-footer>

