<div [style.backgroundImage]="'url(./assets/img/background.jpg)'" style="background-size:cover;padding-top:20px;padding-bottom:20px" fxLayoutAlign="center center" fxLayout="column">
  <div *ngIf="(user | async) as user" fxLayout="column" style="width:90%;max-width:820px;min-width:250px;">
  <mat-card stype="padding:0px;">
    <p class="header">Liste de matériel</p>
    <ng-container *ngIf="productsReady; else loading">    
      <div fxLayoutAlign="center center" fxLayout="row wrap" class="canvas">
          <div *ngFor="let product of products">
              <!--Needs to go into product-item-->
                <!--header-->

                <div fxLayout="column" fxLayoutAlign="center center" class="main-product">
                  <div mat-card-avatar [style.backgroundImage]="product.image" style="background-size:cover;width:70px;height:70px;border-radius:50%"></div>
                  <div fxLayoutAlign="center center" style="padding:5px"><small>{{product.type}}</small></div>
                  <div fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="center center" style="width:100%;padding:5px;"><small>{{product.description}}</small></div>
                  <div fxLayoutAlign="center center">
                      <div *ngIf="product.isAvailable"  fxLayout="row" fxLayoutAlign="center center"><div style="margin:10px;background-color:green; min-width:10px;width:10px;height:10px;min-height:10px;border-radius:50%"></div><small style="color:green">Disponible</small></div>
                      <div *ngIf="!product.isAvailable" fxLayout="row" fxLayoutAlign="center center"><div style="margin:10px;background-color:red; width:10px;height:10px;border-radius:50%"></div><small style="color:red">Non disponible</small></div>
                  </div>
                  <div fxLayoutAlign="space-around center" fxLayout="column">
                      <div class="button-special size-medium" fxlayout="column" fxLayoutAlign="center center" (click)="openProduct()"><mat-icon>more_horiz</mat-icon></div>
                  </div>
                </div>

          </div>    
      </div>  
    </ng-container>
  </mat-card>
</div>
</div>

<ng-template #loading >
    <div style="height:242px;width:100%;" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-spinner [diameter]="40"></mat-spinner><span class="primary-color">Chargement...</span>
    </div>
    </div>
</ng-template>
<app-footer></app-footer>