
@import "../../styles.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);


.canvas {
    width:100%;
    padding-top:10px;
    padding-bottom:5px;   
}
/*
.main-product {
    margin:2px;
    padding:5px;
    padding-top:20px;
    border:1px solid black;
    border-radius:5px; 
    width:150px;
    height:250px;  
}
.main-product:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
*/
small {
    font-size:12px;
}
