@import "../../../themes.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);


h1,p,span {
    opacity:0.8;
}
h1 {
    margin-bottom:5px;
}

.background-image {
    background-size:cover;
    width:100%;
    min-height: 250px;
    height:20vh;
    opacity: 0.8;
}


.avatar {
    z-index: 1;
    margin-top:-150px;
    background-size:cover;
    width:200px;
    height:200px;
    border-radius:50%;
    margin-bottom:16px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);   
}

@media screen and (max-width: 600px) {
    .avatar {
        margin-top:-50px;
        width:100px;
        height:100px;
    }
    .background-image {
        min-height:150px;
    }
}

.name {
    margin-top:0px;
    font-size:25px;
    font-weight: 600;
    margin-bottom:5px;
}

.title {
    font-size:20px;
    font-weight: 400; 
    opacity: 0.8; 
    margin-top:0px; 
    padding-right: 10px;
    padding-left:10px;
}

.detail {
    margin-bottom:2px;
    margin-top:2px;
    font-weight: 500;
    //color: mat-color($primary);
}
.box {
    margin-bottom:2px;
    margin-top:2px;
    width:100%;
    border-top:1px solid black;
    margin-bottom: 10px;
    font-weight: 300;
}

mat-chip {
    transform:scale(0.8);
}

th,td {
    min-width:60px;
  }
  
  table {
    width: 100%;
    margin-bottom:10px;
  }

  /*tr.element-row:not(.expanded-row):hover {
    background: mat-color($primary,50);
    cursor:pointer;
  }
  tr.element-row:not(.expanded-row):active {
    background: mat-color($primary,100);;
  }*/

  tr.detail-row {
    height: 0;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }
  .mat-cell {
    font-size:12px;
  }
  .image {
    transform:scale(0.8);
  }


/*
.header {
    font-size:25px;
    font-weight: 600; 
    opacity: 0.8; 
    margin-top:0px; 
    margin:5px;
    margin-bottom:20px;
    width:100%;
    border-bottom:1px solid black;

}*/