@import "../../../themes.scss"; //Import general themeing

$primary: map-get($main-app-theme,primary);
$accent: map-get($main-app-theme,accent);


h1,p,span {
    opacity:0.8;
}
h1 {
    margin-bottom:5px;
}

.background-image {
    background-size:cover;
    width:100%;
    min-height: 100px;
    height:20vh;
    opacity: 0.8;
}


.avatar {
    z-index: 1;
    margin-top:-40px;
    background-size:cover;
    width:80px;
    height:80px;
    border-radius:50%;
    margin-bottom:16px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);   
}

.name {
    margin-top:0px;
    font-size:25px;
    font-weight: 600;
    margin-bottom:5px;
}

.title {
    font-size:20px;
    font-weight: 400; 
    opacity: 0.8; 
    margin-top:0px; 
    padding-right: 10px;
    padding-left:10px;
}

.detail {
    margin-bottom:2px;
    margin-top:2px;
    font-weight: 500;
    //color: mat-color($primary);
}
.box {
    margin-bottom:2px;
    margin-top:2px;
    width:100%;
    border-top:1px solid black;
    margin-bottom: 10px;
    font-weight: 300;
}

mat-chip {
    transform:scale(0.8);
}

/*
.header {
    font-size:25px;
    font-weight: 600; 
    opacity: 0.8; 
    margin-top:0px; 
    margin:5px;
    margin-bottom:20px;
    width:100%;
    border-bottom:1px solid black;

}*/