<div [style.backgroundImage]="'url(./assets/img/background.jpg)'" style="background-size:cover;padding:20px" >
  <div *ngIf="(user$ | async) as user" fxLayoutAlign="center center">
      <mat-card style="max-width:500px;min-width:300px;margin:10px;margin-top:5vh;margin-bottom:5vh">
          <div fxLayout.xs="column" fxLayout="row" style="padding-bottom:20px">
            <button mat-button color="primary" fxFlex="1 1 auto" (click)="logout()">Me déconnecter</button>
            <button mat-button color="primary" fxFlex="1 1 auto">Modifier profil</button>
            <button mat-button color="primary" fxFlex="1 1 auto">Me desinscrire</button>      
          </div>                        
          <div fxLayoutAlign="center center" fxLayout="column">
            <!--<app-member-item [user]="user" [member]="user" [short]="false"></app-member-item>  -->
          </div>
      </mat-card> 
  </div>

</div>
<app-footer></app-footer>