<div fxLayout="column" fxLayoutAlign="start end" [style.backgroundImage]="'url(./assets/img/backgroundprofile.jpg)'" class="background-image">
  <div fxLayout="column" fxLayoutAlign="start start" style="min-width:130px;padding:10px">
    <button mat-button color="primary" (click)="logout()" style="font-weight:bold">Déconnexion</button>
    <button mat-button  color="primary" (click)="openUserRemoveDialog()">Supprimer</button>
  </div>
</div>
<div *ngIf="user!==null" fxLayoutAlign="center center" fxLayout="column">
    <div fxHide fxShow.xs mat-card-avatar [style.backgroundImage]="user.getAvatar(avatarSizeMobile)" class="avatar"></div>
    <div fxHide.xs mat-card-avatar [style.backgroundImage]="user.getAvatar(avatarSizeLarge)" class="avatar"></div>
    <p class="name">{{user.firstName}} {{user.lastName}}</p>
    <p class="title">{{title}}</p>

    
    <div fxLayout="column" fxLayoutAlign="start start"  style="width:50%;min-width:300px;padding:10px">
      <small class="detail">EMAIL:</small>
      <p class="box">{{user.email}}</p>
      <small class="detail">MOBILE:</small>
      <p class="box">{{user.mobile}}</p> 
      <small class="detail">TYPE D'ACCÈS:</small>
      <p class="box">{{user.access}}</p>              
      <small class="detail">COMPTE CRÉE LE:</small>
      <p class="box">{{user.created_at | niceDateFormat}}</p>  
      <small class="detail">DOCUMENTS:</small>
      <div  fxLayout="row wrap" class="box" style="width:100%">
            <mat-chip-list style="padding:5px">
                <mat-chip *ngFor="let doc of user.getDocuments()">{{doc.function}}</mat-chip>
            </mat-chip-list>  
            <small *ngIf="user.getDocuments().length == 0">Vous n'avez pas de documents</small>
      </div>
      <app-input-document style="margin-bottom:10px" [processing]="loadingDocument" (onDocChange)="addDocument($event)"></app-input-document>

      <!-- <embed src="document.getViewerPath()"  width="100" height="200">-->
      <!--<pdf-viewer src="http://localhost:8000/storage/documents/users/15/yRL9r8u7oI383VhoAR13.pdf"></pdf-viewer>-->
 

      <small class="detail">ROLES:</small>
      <div  fxLayout="row wrap" class="box" style="width:100%">
          <mat-chip-list style="padding:5px">
              <mat-chip *ngFor="let role of user.roles">{{role.name}}</mat-chip>
          </mat-chip-list>  
          <small *ngIf="user.roles.length == 0">Vous n'avez pas de role spécifique</small>
      </div>        
      <small class="detail">GROUPS:</small>
      <div  fxLayout="row wrap" class="box" style="width:100%">
          <mat-chip-list style="padding:5px">
              <mat-chip *ngFor="let group of user.groups">{{group.name}}</mat-chip>
          </mat-chip-list>  
          <small *ngIf="user.groups.length == 0">Vous n'etes dans aucun groupe'</small>
      </div>  
      <small class="detail">MATERIEL EMPRUNTÉ:</small>
      <p *ngIf="user.products.length == 0" class="box">Aucun matériel emprunté</p>  
      <div *ngIf="user.products.length > 0" style="width:100%">
                <p class="box">Total materiel emprunté : <span style="font-weight:bold"> {{user.products.length}} </span></p>  
              <table mat-table [dataSource]="dataSource" class="table">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let row">{{row.idGMA}}</td>
                </ng-container> 

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef>Photo</th>
                    <td mat-cell *matCellDef="let row">
                        <div fxLayoutAlign="end start" mat-card-avatar [style.backgroundImage]="row.image" style="background-size:cover;width:50px;height:50px;border-radius:3px;opacity:0.8" class="image">
                          <div class="available" [ngClass]="{'not-available' : !row.isAvailable()}"></div>
                        </div>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let row">{{row.type}}</td>
                </ng-container> 
        
                <ng-container matColumnDef="cathegory">
                    <th mat-header-cell *matHeaderCellDef>Cathégorie</th>
                    <td mat-cell *matCellDef="let row">{{row.cathegory}}</td>
                </ng-container>   
        
                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef>Marque</th>
                    <td mat-cell *matCellDef="let row">{{row.brand}}</td>
                </ng-container>  
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"></tr>
              </table>






      </div>

      <app-profile-edit style="width:100%" [user]="user"></app-profile-edit>                     
    </div>
</div>

<app-footer></app-footer>