
/*@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


//Main app theme
$main-app-primary: mat-palette($mat-indigo, 500);
$main-app-accent:  mat-palette($mat-pink, 500, A100, A400);
$main-app-warn:    mat-palette($mat-deep-orange,300);
$main-app-theme: mat-light-theme($main-app-primary, $main-app-accent, $main-app-warn);
@include angular-material-theme($main-app-theme);

//Navbar theme
$navbar-app-primary: mat-palette($mat-amber,300);
$navbar-app-accent : mat-palette($mat-red);
$navbar-app-warn: mat-palette($mat-grey,50);
$navbar-app-theme: mat-dark-theme($navbar-app-primary, $navbar-app-accent, $navbar-app-warn);

//Footer theme
$footer-primary: mat-palette($mat-amber,300,100,900);
$footer-accent : mat-palette($mat-orange, A200,A100,A400);
$footer-warn: mat-palette($mat-red);

//$footer-app-theme:  mat-dark-theme($footer-app-primary, $footer-app-accent, $footer-app-warn);
// custom background and foreground palettes
$footer-theme-background: (
  status-bar: green,
  app-bar:    map_get($mat-blue, 900),
  background: orange,
  hover:      rgba(white, 0.04), 
  card:       map_get($mat-red, 800),
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$footer-theme-foreground: (
  base:              yellow,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              yellow,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-footer-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $footer-theme-foreground,
    background: $footer-theme-background,
  );
}

// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$footer-theme-primary: mat-palette($mat-green);
$footer-theme-accent: mat-palette($mat-blue);
$footer-theme-warn: mat-palette($mat-red);

$footer-theme: create-footer-theme($footer-theme-primary, $footer-theme-accent, $footer-theme-warn);

*/

//Import all themes definitions
@import './themes.scss';




$colorPrimary : #2e7d32;
$colorPrimaryDark : #1b5e20;
$colorAccent :#8bc34a;

///////////////////////////////////////////////////////////////
// Global settings
///////////////////////////////////////////////////////////////
//Remove body margins/paddings
body {
    margin: 0 0 auto;
    padding:0px;
    font-family: "Calibri",Helvetica,Arial,sans-serif;
    min-width: 300px;
}

html {
    overflow-y:scroll;
}

mat-icon {
    vertical-align: middle;
}

//Avoid text selection and blue outline
span,p,h1,h2,h3,small,mat-icon,a {
-webkit-touch-callout: none !important;
-webkit-user-select: none !important;
-khtml-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
user-select: none !important;
outline:none !important;
}

//Small button like mini fab but stroked like
.custom-stroked-button {
    opacity: 0.5;
    border-radius: 50%;
    max-width:40px;
    min-width:40px;
    width:40px;
    min-height:40px;
    max-height:40px;
    height:40px;
    padding:0px;
}

h1,h2,h3,h4 {
  opacity:0.8;
}
.admin-theme {
  background-color: rgba(0, 0, 0, 0.8);
  color:rgba(255, 255, 255, 0.8);
}