<div style="padding:20px" class="admin-theme">
    <h1>Gestion des roles</h1>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" style="min-width:280px;max-width:700px">
        <mat-accordion style="width:100%">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Nouveau</mat-panel-title>
                  <mat-panel-description>Creer un role</mat-panel-description>
                </mat-expansion-panel-header>        
                <mat-form-field>
                  <input matInput placeholder="First name">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Age">
                </mat-form-field>
              </mat-expansion-panel>
        </mat-accordion>  
        <div *ngFor="let role of roles" fxLayout="row" fxLayoutGap="5px" class="item-container">
          <div fxLayoutAlign="center center" fxFlex="10%"><small>{{role.id}}</small></div>
          <div fxLayoutAlign="center center" fxFlex="30%"><small>{{role.name}}</small></div>
          <div fxLayoutAlign="start center" fxFlex="60%"><small>{{role.description}}</small></div>
          <div fxLayoutAlign="center center" style="width:30px" (click)="deleteRole(role.id)"><mat-icon>delete</mat-icon></div>
        </div>
      </div>    
    </div>
</div>

