@import "../../../styles.scss"; //Import general themeing

$primary: map-get($admin-theme,primary);
$accent: map-get($admin-theme,accent);

.item-container {
    min-height: 40px;
    min-width:100%;
    padding:5px;
    background:white;
}
mat-icon {
    transform:scale(0.8);
}
//For devices suporting hover
@media (hover: hover) {
    .item-container:hover {
        background-color:mat-color($primary,50);
        cursor:pointer;
        opacity: 1;
    }
}