<div [style.backgroundImage]="'url(./assets/img/background.jpg)'" style="background-size:cover;padding-top:20px;padding-bottom:20px" fxLayoutAlign="center center" fxLayout="column">
  <div *ngIf="(user$ | async) as user" fxLayout="column" style="width:90%;max-width:588px;min-width:250px;">
  <mat-card stype="padding:0px;">
    <p class="header">Présidence</p>
    <mat-divider></mat-divider>
    <ng-container *ngIf="boardsReady"> 
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="5px" class="canvas">
        <app-member-item *ngFor="let member$ of boards$" [user]="user" [member$]="member$" activeRole="board"></app-member-item>
      </div>  
    </ng-container>
    <p class="header">Bureau</p>
    <mat-divider></mat-divider>
    <ng-container *ngIf="bureausReady">   
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="5px" class="canvas">
        <app-member-item *ngFor="let member$ of bureaus$" [user]="user" [member$]="member$" activeRole="Bureau"></app-member-item>
      </div>
    </ng-container>
    <ng-container *ngIf="isLogged">
      <p  class="header" style="margin-top:40px">Membres <span style="font-weight:bold">({{memberCount}})</span></p>
      <mat-divider></mat-divider>
      <ng-container *ngIf="membersReady"> 
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="canvas">
            <app-member-item *ngFor="let member$ of members$" [user]="user" [member$]="member$" activeRole="Membre"></app-member-item>
        </div>
      </ng-container>
    </ng-container>
  </mat-card>
</div>
</div>


<app-footer></app-footer>