<div style="padding:20px"   fxLayoutAlign="center center" fxLayout="column">
  <div fxLayout="column" style="width:90%;max-width:550px">
  <mat-card stype="padding:5px;">
  <p class="header">Présidence</p>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="5px" class="canvas">
      <div *ngFor="let user of presidents | async">
          <app-member-item [member]="user"></app-member-item>
      </div>
      <div *ngFor="let user of boards | async" >
          <app-member-item [member]="user"></app-member-item>
      </div>    
  </div>
  <p class="header">Bureau</p>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="5px" class="canvas">
      <div *ngFor="let user of bureaus | async">
          <app-member-item [member]="user"></app-member-item>
      </div> 
  </div>

  <p  class="header">Membres</p>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayout="row" fxLayoutGap="5px" class="canvas">
      <div *ngFor="let user of members | async">
          <app-member-item [member]="user"></app-member-item>
      </div> 
  </div>
</mat-card>
</div>
</div>
<app-footer></app-footer>