
<div *ngIf="short">
    <div fxLayout="column" fxLayoutAlign="center center" class="main-product" [ngClass]="{'main-product-short' : isMember === false}">
        <div mat-card-avatar [style.backgroundImage]="product.image" style="background-size:cover;width:70px;height:70px;border-radius:50%"></div>
        <div fxLayoutAlign="center center" style="padding:5px"><small>{{product.type}}</small></div>
        <div fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="center center" style="width:100%;padding:5px;"><small>{{product.description}}</small></div>
        <ng-container *ngIf="isMember">
        <div fxLayoutAlign="center center">
            <div *ngIf="product.isAvailable"  fxLayout="row" fxLayoutAlign="center center"><div style="margin:10px;background-color:green; min-width:10px;width:10px;height:10px;min-height:10px;border-radius:50%"></div><small style="color:green">Disponible</small></div>
            <div *ngIf="!product.isAvailable" fxLayout="row" fxLayoutAlign="center center"><div style="margin:10px;background-color:red; width:10px;height:10px;border-radius:50%"></div><small style="color:red">Non disponible</small></div>
        </div>
        <div fxLayoutAlign="space-around center" fxLayout="column">
            <button class="custom-stroked-button" mat-stroked-button [routerLink]="['/materiel-details', product.id]"><mat-icon>more_horiz</mat-icon></button>
        </div>
        </ng-container>
      </div>
</div>

<div *ngIf="!short">
    <div fxLayout="column" fxLayoutAlign="center center" style="padding-top:20px">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" style="margin-bottom:10px;">
        <div mat-card-avatar [style.backgroundImage]="product.image" style="background-size:cover;width:80px;height:80px;border-radius:5px;box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4)"></div>
        <div fxLayoutAlign="center center" fxLayout="column" style="padding:5px;">
          <small class="title">Type</small><p style="margin-bottom:5px;margin-top:2px">{{product.type}}</p>
          <small class="title">Marque</small><p style="margin-bottom:5px;margin-top:2px">{{product.brand}}</p>         
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">            
          <small class="title">Usage</small><p style="margin-bottom:5px;margin-top:2px">{{product.usage}}</p> 
          <button mat-button color="primary"><mat-icon>attach_file</mat-icon><small>Doc</small></button>
        </div>
      </div>
      <div fxLayoutAlign="center center" style="margin-bottom:10px;">
          <div *ngIf="product.isAvailable"  fxLayout="row" fxLayoutAlign="center center"><div style="margin:10px;background-color:green; min-width:10px;width:10px;height:10px;min-height:10px;border-radius:50%"></div><p style="color:green">Disponible</p></div>
          <div *ngIf="!product.isAvailable" fxLayout="row" fxLayoutAlign="center center"><div style="margin:10px;background-color:red; width:10px;height:10px;border-radius:50%"></div><p style="color:red">Non disponible</p></div>
      </div>      
      <small class="title">Déscription</small>
      <div fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="center center" style="width:100%;padding:5px;"><p style="margin-top:5px">{{product.description}}</p></div>
      </div>
</div>

